<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <a href="/list" class="mdl-layout-title nav-logo"><i class="material-icons">tv</i>CINETEK</a>


    <div class="mdl-layout-spacer"></div>

    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link" href="#/login" ng-if="!isConnected()">Login</a>

      <ul style="list-style: none" class="mdl-navigation__link" ng-if="isConnected()">
        <li><button class="btn-default btn" ng-click="disconnect()">Logout</button></li>
      </ul>
      <!--<a class="mdl-navigation__link" href="#">SignUp</a>-->
    </nav>
  </div>
</header>

<div class="mdl-layout__drawer">
  <a href="/" class="mdl-layout-title"><i class="material-icons">tv</i>CINETEK</a>
  <nav class="mdl-navigation">

    <a class="mdl-navigation__link" href="#/login">Login</a>

    <ul class="mdl-navigation__link">
      <li class="active">
        <a href="#">Link <span class="sr-only">(current)</span></a>
      </li>
      <li><a href="#">Link</a></li>
    </ul>

    <ul class="mdl-navigation__link" ng-if="isConnected()">
      <li>  Bienvenue {{user.email}}</li>
    </ul>

    <ul class="mdl-navigation__link" ng-if="isConnected()">
      <li><button class="btn-default btn" ng-click="disconnect()">Logout</button></li>
    </ul>

    <!--<a class="mdl-navigation__link" href="#">SignUp</a>-->
  </nav>
</div>
