<div class="container">
  <div class="alert alert-success" ng-show="movieSuccess">
    <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Film ajouté !</strong>
  </div>
  <div class="alert alert-warning" ng-show="movieError">
    <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Erreur ! Film non ajouté</strong>
  </div>




<div class="create" style="text-align: center;">
  <h2 >Création d'un film</h2>

  <form novalidate name="createForm" ng-submit="addMovie()">

    <div class="form-group" ng-class="{ 'has-error': createForm.titre.$invalid }">
      <label for="titleInput">
        Titre
        <input type="text"
               id="titleInput"
               required
               ng-model="movie.title"
               name="titre"
               class="form-control"
               placeholder="Titre"
        >
      </label>
    </div>

    <!--<div class="form-group" ng-class="{ 'has-error': createForm.poster.$invalid }">
      <label>
        URL de l'affiche
        <input type="text"
               required
               ng-model="film.Poster"
               name="poster"
               class="form-control"
               placeholder="Affiche"
        >
      </label>
    </div>-->

    <div class="form-group" ng-class="{ 'has-error': createForm.realisateur.$invalid }">
      <label for="directorInput">
        Réalisateur
        <input type="text"
               required
               id="directorInput"
               ng-model="movie.director"
               name="realisateur"
               class="form-control"
               placeholder="Réalisateur"
        >
      </label>
    </div>

    <div class="form-group" ng-class="{ 'has-error': createForm.date.$invalid }">
      <label>
        Année de sortie
        <input type="text"
               required
               ng-model="film.Year"
               name="date"
               class="form-control"
               placeholder="Date de sortie"
        >
      </label>
    </div>

    <div class="form-group" ng-class="{ 'has-error': createForm.actors.$invalid }">
      <label for="actorsInput">
        Acteurs
        <div class="form-group" ng-repeat="actor in movie.actors">
          <input type="text"
                 required
                 id="actorsInput"
                 ng-model="actor.firstname"
                 class="form-control"
                 placeholder="Prénom de l'acteur"
          ><input type="text"
                 required
                 ng-model="actor.lastname"
                 class="form-control"
                 placeholder="Prénom de l'acteur"
          >
          <button type="button" class="btn btn-danger" ng-click="removeActor($index)">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
          </button>
      </label>
      <br/>
      <div class="form-group">
        <button type="button" class="btn btn-success" ng-click="addingActor()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter un acteur
        </button>
      </div>
    </div>


    <div class="form-group">
      <label for="rateSelect">
        <span>Note</span>
        <select id="rateSelect"
                name="repeatSelect"
                id="repeatSelect"
                ng-model="movie.rate"
                ng-options="rate.name for rate in select">
        </select>

      </label>
    </div>

    <p>
      <button type="submit"
              class="btn btn-lg btn-warning"
              ng-disabled="createForm.$invalid"
      >
        Créer le film
      </button>

      <button type="button"
              ng-click="redirect('/list')"
              class="btn btn-default">Retour à la liste</button>
    </p>

  </form>



</div>

