<div class="jumbotron" style="text-align: center;">
  <h2 >Création d'un film</h2>

  <form novalidate name="createForm" ng-submit="create($scope.film)">

    <div class="form-group" ng-class="{ 'has-error': createForm.titre.$invalid }">
      <label>
        Titre
        <input type="text"
               required
               ng-model="film.Title"
               name="titre"
               class="form-control"
               placeholder="Titre"
        >
      </label>
    </div>

    <div class="form-group" ng-class="{ 'has-error': createForm.poster.$invalid }">
      <label>
        URL de l'affiche
        <input type="text"
               required
               ng-model="film.Poster"
               name="poster"
               class="form-control"
               placeholder="Affiche"
        >
      </label>
    </div>

    <div class="form-group" ng-class="{ 'has-error': createForm.realisateur.$invalid }">
      <label>
        Réalisateur
        <input type="text"
               required
               ng-model="film.Director"
               name="realisateur"
               class="form-control"
               placeholder="Réalisateur"
        >
      </label>
    </div>

    <div class="form-group" ng-class="{ 'has-error': createForm.date.$invalid }">
      <label>
        Année de sortie
        <input type="text"
               required
               ng-model="film.Year"
               name="date"
               class="form-control"
               placeholder="Date de sortie"
        >
      </label>
    </div>


    <div class="form-group">
      <label>
        <span>note</span>
        <select name="note"
                class="col-md-6 form-control"
                ng-model="film.Rated"
                ng-options="Rated.value as rating.label for rating in ratingPossible"
        >

        </select>
      </label>
    </div>

    <p>
      <button type="submit"
              class="btn btn-lg btn-warning"
              ng-disabled="createForm.$invalid"
              ng-click="create(film)"
              ng-href="/#/"
      >
        Créer le film
      </button>
      <a class="btn btn-lg btn-info" ng-href="/#/">Retour à la liste</a>
    </p>

  </form>



</div>
