
<div class="jumbotron">
  <h2 style="text-align: center">Detail du film : {{movie.name}}</h2>
  <p style="text-align: center">
    <a class="btn btn-lg btn-warning" ng-href="/#/">Retour à la liste</a> </p>
</div>

<div class="list">
  <img class="img-responsive" ng-src="{{movie.affiche.url}}" alt="affiche non reconnue">
  <ul class="list-unstyled">
    <li>Sorti en {{movie.releaseDate}}</li>
    <li>Réalisé par {{movie.realisator}}</li>
    <li>Avec <span ng-repeat="actor in actors track by $index">{{actor}}</span></li>
    <li>Score : {{movie.rating}}</li>
  </ul>
  <button class="btn btn-lg btn-danger"  ng-click="delete(movie)" ng-href="/#/">Effacer le film</button>
</div>
